.aboutUs{
    margin-top: 90px;
    background-color: #00AB59;
    background-image: url(../../../images/AboutUsSm.svg);
    background-repeat: no-repeat;
    background-size: cover;
    .title{
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
    }
    .subtitle{
        p{
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
        }
    }
    @media screen and (min-width:426px) {
        background-image: url(../../../images/AboutUsBgLg.svg);
        .container{
            width: 50%;
            padding: 60px;
            .subtitle{
                text-align: start;
            }
        }
    }
}