.hero-section-carousel {
  margin-top: 90px;
  .slick-slider {
    .slick-arrow {
      display: none;
    }
  }
  .carouselItems {
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    &.item0 {
      height: 500px;
      background-image: url("../../../images/CarouselSm0.png") !important;
    }
    &.item1 {
      height: 500px;
      background-image: url("../../../images/CarouselSm1.png") !important;
    }
    &.item2 {
      height: 500px;
      background-image: url("../../../images/CarouselSm2.png") !important;
    }
    &.item3 {
      height: 500px;
      background-image: url("../../../images/CarouselSm3.png") !important;
    }
    @media screen and (min-width: 426px) and (max-width: 768px) {
      &.item0 {
        height: 300px;
        background-image: url("../../../images/CarouselMd0.png") !important ;
      }
      &.item1 {
        height: 300px;
        background-image: url("../../../images/CarouselMd1.png") !important ;
      }
      &.item2 {
        height: 300px;
        background-image: url("../../../images/CarouselMd2.png") !important;
      }
      &.item3 {
        height: 300px;
        background-image: url("../../../images/CarouselMd3.png") !important;
      }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      &.item0 {
        height: 400px;
        background-image: url("../../../images/CarouselLg0.png") !important;
      }
      &.item1 {
        height: 400px;
        background-image: url("../../../images/CarouselLg1.png") !important;
      }
      &.item2 {
        height: 400px;
        background-image: url("../../../images/CarouselLg2.png") !important;
      }
      &.item3 {
        height: 400px;
        background-image: url("../../../images/CarouselLg3.png") !important;
      }
    }

    @media screen and (min-width: 1025px) {
      &.item0 {
        height: 700px;
        background-image: url("../../../images/CarouselLg0.png") !important;
      }
      &.item1 {
        height: 700px;
        background-image: url("../../../images/CarouselLg1.png") !important;
      }
      &.item2 {
        height: 700px;
        background-image: url("../../../images/CarouselLg2.png") !important;
      }
      &.item3 {
        height: 700px;
        background-image: url("../../../images/CarouselLg3.png") !important;
      }
    }
  }
}
