.header-section{
    margin-top: 90px;
    .slick-slider{
        .slick-arrow{
            display: none;
        }
    }
    .carousel-item{
        width: 100%;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        &.item1{
            height: 500px;
            background-image: url('../../../images/CarouselSm1.png');
        }
        &.item2{
            height: 500px;
            background-image: url('../../../images/CarouselSm2.png');
        }
        &.item3{
            height: 500px;
            background-image: url('../../../images/CarouselSm3.png');
        }
        @media screen and (min-width: 426px) and (max-width:768px) {
            &.item1{
                height: 300px;
                background-image: url('../../../images/CarouselMd1.png');
            }
            &.item2{
                height: 300px;
                background-image: url('../../../images/CarouselMd2.png');
            }
            &.item3{
                height: 300px;
                background-image: url('../../../images/CarouselMd3.png');
            }
        }

        @media screen and (min-width: 769px) and (max-width:1024px){
            &.item1{
                height: 400px;
                background-image: url('../../../images/CarouselLg1.png');
            }
            &.item2{
                height: 400px;
                background-image: url('../../../images/CarouselLg2.png');
            }
            &.item3{
                height: 400px;
                background-image: url('../../../images/CarouselLg3.png');
            }
        }

        @media screen and (min-width: 1025px){
            &.item1{
                height: 500px;
                background-image: url('../../../images/CarouselLg1.png');
            }
            &.item2{
                height: 500px;
                background-image: url('../../../images/CarouselLg2.png');
            }
            &.item3{
                height: 500px;
                background-image: url('../../../images/CarouselLg3.png');
            }
        }
    }
}